html {
  scroll-behavior: smooth;
}

.App {
  min-width: 100%;
  height: 100%;
  overflow-x: hidden;
}

footer {
  width: 100%;
  height: 200px;
  background-color: rgb(172, 172, 172);
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer-content {
  max-width: 80%;
}

.footer-social {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.footer-social a {
  color: #fff;
}

.footer-social a:hover {
  color: #000;
}

.footer-icon {
  font-size: 80px;
}

.footer-links ul {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}

.footer-links  ul  li {
  list-style: none;
  color: #fff;
  font-size: 2rem;
}

.footer-links  ul  li:hover, .footer-links  ul  a:hover {
  color: #000;
  text-decoration: none;
}

.footer-copyrights {
  color: #fff;
}


@media only screen and (max-width: 576px) {
  .footer-links  ul  li {
    font-size: 1rem;
  }

  [class^="bi"] { 
    width: 35px;
    height: 35px;
  }
  .footer-copyrights {
    font-size: 0.8rem;
  }
}


